<button mat-raised-button>Hello world https://www.youtube.com/watch?v=jUfEn032IL8</button>

<mat-button-toggle color="primary" #isOld checked>Afficher début</mat-button-toggle>
<div [hidden]="isOld.checked">
  <div class="mat-display-4">This is mat-display-4</div>
  <div class="mat-display-3">This is mat-display-3</div>
  <div class="mat-display-2">This is mat-display-2</div>
  <div class="mat-display-1">This is mat-display-1</div>

  <div class="mat-headline">Tis is headline ~ h1</div>
  <div class="mat-title">Tis is title ~ h2</div>
  <div class="mat-subheading-2">Tis is subheading-2 ~ h3</div>
  <div class="mat-subheading-1">Tis is subheading-1 ~ h4</div>

  <div class="mat-body-1">This is body text</div>
  <div class="mat-body-2">This is bold body text</div>
  <div class="mat-caption">This is caption text</div>

  <!-- By default, Angular Material applies no global styles to native elements. -->
  <h1>This header is unstyled</h1>

  <!-- Applying the mat-tyography class adds styles for native elements. -->
  <section class="mat-typography">
    <h1>This header will be styled</h1>
  </section>

  <div class="example-container" [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
    Example<br />
    Example<br />

    <div>
      <button mat-button (click)="isActive = !isActive">
        Toggle Elevation
      </button>
    </div>
  </div>

  <div class="page">
    <button mat-button (click)="click()">Click me</button>
    <button mat-raised-button (click)="click()">Click me raised</button>
    <button mat-flat-button (click)="click()">Click me flat</button>
    <button mat-stroked-button (click)="click()">Click me stroked</button>
  </div>
  <div class="page">
    <button mat-icon-button color="warn" (click)="click()">icon</button>
    <button mat-fab (click)="click()">Fab</button>
    <button mat-mini-fab (click)="click()">mini</button>
  </div>

  <div class="page">
    <button mat-button color="primary" (click)="click()">Primary</button>
    <button mat-button color="accent" (click)="click()">Accent</button>
    <button mat-button color="warn" (click)="click()">Warn</button>
    <button mat-button color="warn" disableRipple (click)="click()">
      Warn disableRipple
    </button>
  </div>

  <div class="page">
    <button mat-raised-button color="primary" (click)="click()">Primary</button>
    <button mat-raised-button color="accent" (click)="click()">Accent</button>
    <button mat-raised-button color="warn" (click)="click()">Warn</button>
  </div>

  <div class="page">
    <mat-button-toggle color="primary" value="OK" #toggleBtn>Toggle</mat-button-toggle>
    {{ toggleBtn.checked }} --
    {{ toggleBtn.value.big() }}
  </div>
  <div class="page">
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
      <mat-button-toggle value="angular">Angular</mat-button-toggle>
      <mat-button-toggle value="react">React</mat-button-toggle>
      <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{ toggleGroup.value }}
    <div [hidden]="!toggleGroup.value.includes('angular')">Angular</div>
    <div [hidden]="!toggleGroup.value.includes('react')">React</div>
    <div [hidden]="!toggleGroup.value.includes('vue')">Vue</div>
  </div>
  <div class="page">
    <mat-icon color="primary">build</mat-icon>
    <mat-icon color="accent">build</mat-icon>
    <mat-icon color="warn">build</mat-icon>
  </div>
  <div class="page">
    <span matBadge="5">Notification</span>
  </div>
  <div class="page">
    <span matBadge="5" matBadgePosition="below after">Notification</span>
  </div>
  <div class="page">
    <span matBadge="5" matBadgePosition="below before">Notification</span>
  </div>
  <div class="page">
    <span matBadge="5" matBadgePosition="above before">Notification</span>
  </div>

  <div class="page">
    <span matBadge="5" matBadgeSize="small" matBadgeColor="primary" matBadgeOverlap="false">Notification</span>
  </div>
  <div class="page">
    <span matBadge="5" matBadgeSize="medium" matBadgeColor="accent" matBadgeOverlap="false">Notification</span>
  </div>
  <div class="page">
    <span matBadge="5" matBadgeSize="large" matBadgeColor="warn" matBadgeOverlap="false">Notification</span>
  </div>

  <div class="page">
    <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notification</span>
  </div>
  <div class="page">
    <span [matBadge]="3" [matBadgeDisabled]="true">Notification</span>
  </div>

  <div class="page">
    <mat-icon matBadge="7" matBadgeColor="warn">home</mat-icon>
  </div>
  <mat-progress-spinner value="40">truc</mat-progress-spinner>
  <mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
  <button (click)="loadData()">Load Data</button>

  <div class="bar">
    <mat-progress-bar value="70" color="accent" mode="buffer" bufferValue="75"></mat-progress-bar>
  </div>

  <mat-toolbar color="primary" class="navbar">
    <div>CodeEvolution</div>
    <div>
      <span>Home</span>
      <span>Contact</span>
      <span>Services</span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" (opened)="log('Opened')" (closed)="log('Closed')" [(opened)]="opened">Sidenav
      <mat-nav-list>
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">About</a>
        <a mat-list-item href="#">Services</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>Main
      <button (click)="opened = !opened">Toggle button</button>
      <button (click)="sidenav.open()">Open</button>
      <button (click)="sidenav.close()">Close</button>
      <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
  </mat-menu>
  <button mat-flat-button class="center" [mat-menu-trigger-for]="appMenu">
    Menu
  </button>

  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>

  <mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Hobby is {{hobby}}</button>
      <button mat-menu-item>Log out {{ name }}</button>
    </ng-template>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerData]="{ name: 'Vishwas', hobby: 'Football' }"
    [matMenuTriggerFor]="lazyMenu">
    Vishwas
  </button>
  <button mat-raised-button [matMenuTriggerData]="{ name: 'Codevolution', hobby: 'Golf' }"
    [matMenuTriggerFor]="lazyMenu">
    Codevolution
  </button>

  <div class="mat-display-1">Lists</div>

  <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

  <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
  </mat-nav-list>

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>Heading</h3>
      <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine>Heading 1</h3>
      <p matLine>Line 1</p>
    </mat-list-item>

  </mat-list>
  <div class="mat-display-1">Grid</div>

  <mat-grid-list cols=2 rowHeight="5:1">
    <mat-grid-tile rowspan=2>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile colspan=2>Tile 4</mat-grid-tile>
    <mat-grid-tile>Tile 5</mat-grid-tile>
    <mat-grid-tile>Tile 6</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols=2 rowHeight="fit" style="height: 200px" [gutterSize]="gSize +'px'">
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button (click)="changeGatterSize()">Change {{gSize}}</button>
  <div class="mat-display-1">Expansion panel (1:20)</div>
  <mat-accordion>

    <mat-expansion-panel style="width:700px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Angular Fondamentals
        </mat-panel-title>
        <mat-panel-description>
          Duration 2h
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>AJGJHFAJHFAAFh jg jG JG jGAJ AJGA GA AGGJA</p>
      <p>AJGJHFAJHFAAFh jg jG JG jGAJ AJGA GA AGGJA</p>
      <mat-action-row>
        <button mat-button>Enroll</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel style="width:700px" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Angular Material
        </mat-panel-title>
        <mat-panel-description>
          Duration 3h ({{panelOpenState ? 'Open' : 'Closed'}})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>AJGJHFAJHFAAFh jg jG JG jGAJ AJGA GA AGGJA</p>
      <p>AJGJHFAJHFAAFh jg jG JG jGAJ AJGA GA AGGJA</p>
      <mat-action-row>
        <button mat-button>Enroll</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" min="1" placeholder="Age">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Destination
        </mat-panel-title>
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the trip
        </mat-panel-title>
        <mat-panel-description>
          Inform the date you wish to travel
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

  <div class="mat-display-2"> Card 1:25</div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>title</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      A rerum earum inventore illum non. Doloremque voluptate<br>
      assumenda nam, quam atque nobis quisquam fugit corrupti sed nisi. Id commodi vitae maxime?

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button>Ok</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>title 2</mat-card-title>
      <mat-card-subtitle>subtitle 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      A rerum earum inventore illum non. Doloremque voluptate<br>
      assumenda nam, quam atque nobis quisquam fugit corrupti sed nisi. Id commodi vitae maxime?

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button>Ok</button>
    </mat-card-actions>
  </mat-card>

  <div class="mat-display-2"> Tabs 1:28</div>

  <mat-tab-group #TabRef (selectedTabChange)="loChangeTab(TabRef.selectedIndex)">
    <mat-tab label="TabHeader 0">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Ad neque ab distinctio, reprehenderit pariatur nostrum, aliquam quisquam accusantium,<br>
      consequatur ducimus in dolore quasi aspernatur corporis sint quibusdam officiis perspiciatis suscipit.

    </mat-tab>
    <mat-tab label="TabHeader 1">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Ad neque ab distinctio, reprehenderit pariatur nostrum, aliquam quisquam accusantium,<br>
      consequatur ducimus in dolore quasi aspernatur corporis sint quibusdam officiis perspiciatis suscipit.

    </mat-tab>
    <mat-tab label="TabHeader 2">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Ad neque ab distinctio, reprehenderit pariatur nostrum, aliquam quisquam accusantium,<br>
      consequatur ducimus in dolore quasi aspernatur corporis sint quibusdam officiis perspiciatis suscipit.

    </mat-tab>
  </mat-tab-group>
  <p>{{TabRef.selectedIndex}}</p>

  <div class="mat-display-2"> Stepper 1:31</div>
  <mat-horizontal-stepper linear>
    <mat-step label="label1" completed=true>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Ad neque ab distinctio, reprehenderit pariatur nostrum, aliquam quisquam accusantium,<br>
      consequatur ducimus in dolore quasi aspernatur corporis sint quibusdam officiis perspiciatis suscipit.
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="label2" completed=false>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Ad neque ab distinctio, reprehenderit pariatur nostrum, aliquam quisquam accusantium,<br>
      consequatur ducimus in dolore quasi aspernatur corporis sint quibusdam officiis perspiciatis suscipit.
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="label3" completed=false>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Ad neque ab distinctio, reprehenderit pariatur nostrum, aliquam quisquam accusantium,<br>
      consequatur ducimus in dolore quasi aspernatur corporis sint quibusdam officiis perspiciatis suscipit.
      <div>
        <button mat-button matStepperPrevious>Previous</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


  <div class="mat-display-2"> Input 1:37</div>
  <mat-form-field>
    <mat-label>Normal</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Always</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-label>Never</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field floatLabel="auto">
    <mat-label>Auto</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Required</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Required cancel</mat-label>
    <input matInput required>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>with hint</mat-label>
    <input matInput>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" color="warn">
    <mat-label>Name</mat-label>
    <input matInput>
    <mat-hint align="end">Min 5 characters</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Name</mat-label>
    <input matInput>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint align="end">Min 5 characters</mat-hint>
  </mat-form-field>


  <form [formGroup]="sandwichForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" color="warn">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-hint align="end">Min 5 characters</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Price</mat-label>
      <input type="number" matInput formControlName="price">
      <mat-icon matSuffix>euro_symbol</mat-icon>
      <mat-hint align="end">Number</mat-hint>
    </mat-form-field>

    <button type="submit" mat-raised-button (click)="getValueInput()" [disabled]="!sandwichForm.valid">Get</button>
  </form>


  <div class="mat-display-2"> Select 1:44</div>

  <mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
      <mat-option>None</mat-option>
      <mat-optgroup label="Web">
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{item.value}}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="Web1">
        <mat-option *ngFor="let item of items" [value]="item.value + 1">
          {{item.value}}1
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <p>{{selectedValue}}</p>

  <div>
    <mat-form-field>
      <mat-label>Email error</mat-label>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="mat-display-2"> Autocompete 1:50</div>

  <form>
    <mat-form-field>
      <input matInput type="text" [matAutocomplete]="auto" [formControl]="myControl">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filtredOptions | async" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <div class="mat-display-2"> Checkbox and radio button 2:00</div>

  <div class="page">
    <mat-checkbox color="primary" checked="true" labelPosition="before">text1</mat-checkbox><br>
    <mat-checkbox color="accent" checked="true" labelPosition="before">text2</mat-checkbox><br>
    <mat-checkbox color="warn" checked="true">text3</mat-checkbox>
    <br>
    <br>

    <mat-radio-group [(ngModel)]="choosedRadio">
      <mat-radio-button value="angular" color="primary" checked="true">Angular</mat-radio-button><br>
      <mat-radio-button value="react" color="accent">React</mat-radio-button><br>
      <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
    </mat-radio-group>
    <div>Valeur : {{choosedRadio}}</div>
  </div>
  <div class="mat-display-2"> Date picker 2:05</div>



  <mat-form-field>
    <input matInput [matDatepicker]="myDatePicker" [(ngModel)]="datePicker" [min]="minDate" [max]="maxDate"
      [matDatepickerFilter]="dateFilter">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <!-- <mat-datepicker #myDatePicker startView="year"></mat-datepicker> -->
    <mat-datepicker #myDatePicker [startAt]="minDate"></mat-datepicker>
  </mat-form-field>
  <div>La date : {{datePicker}}</div>


  <div class="mat-display-2"> Tooltip 2:11</div>

  <button mat-raised-button matTooltip="Wellcome to CodeEvolution" matTooltipPosition="after"
  matTooltipShowDelay="2000"
  matTooltipHideDelay="2000"
  >Hello</button>


  <div class="mat-display-2"> Snackbar 2:15</div>

  <div class="page">
    <button mat-button (click)="openSnackBar('Item deleted', 'Undo')">Delete</button>
    <button mat-button (click)="openCustumSnackBar()">Show cumtum SnackBar</button>
  </div>
  <div class="mat-display-2"> Dialog 2:24</div>
  <div class="page">

    <div class="page">
      <button mat-mat-raised-button (click)="openDialog()">Open Dialog</button>
    </div>

  </div>
</div>
<br />---<br />
<div class="mat-display-2"> Data Table 2:33</div>
<div class="page">
<app-datatable-exemple></app-datatable-exemple>
</div>
