.example-container {
  width: 50%;
  padding: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.page {
  background-color: white;
  width: 80%;
}
.bar {
  width: 60%;
}
button {
  margin-right: 5rem;
}
div {
  margin: 3rem;
}
.navbar {
  justify-content: space-between;
}
span {
  padding-right: 1rem ;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content, mat-sidenav {
  padding: 16px;
  height: 500px;

}
mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}

.center {
  margin: 10rem;
}

mat-grid-tile  {
  background-color:lightblue;
}
// expansion panel
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-card {
  width: fit-content;
  margin: 15px;
  background-color: ghostwhite;
}

mat-select {
  width: 130px;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid maroon;
  box-sizing: border-box;
  height: 100px;
}
.container {
  height: 400px;
}
